@use "src/const.scss" as *;

.admin-container {
    background-image: url("/assets/background.png");
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    box-sizing: border-box;
}

.admin-container > app-button {
    position: absolute;
    top: 75px;
    left: 60px;
}

.add-button {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    svg {
        width: 30px;  
        height: 30px;
    }
}