@use "src/styles.scss" as *;

main {
    background-image: url('../../../assets/background.png');
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem;
    box-sizing: border-box;
}

#back-button {
    position: absolute;
    top: 75px;
    left: 60px;
}

h2 {
    color: $text-color;
    text-align: center;
}

p {
    color: $text-color;
    text-align: center;
}

.add-button {
    margin-top: 30px;
    width: auto;
    height: auto;

    svg {
        width: 30px;  
        height: 30px;
    }
}

.list-container {
    background-color: $transparent-background;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 15px;
    gap: 10px;
    overflow-y: auto;
    overflow-x: hidden;
    height: 600px;
    width: auto;
    align-items: center;
    
}