<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

    <app-button id="back-button" [width]="100" [route]="'/home'">Retour</app-button>

    <h2>Administrer les jeux</h2>
    <p>Créez, modifiez ou supprimez un jeu</p>
    <div class="list-container">
        @for(game of gameCards; track game.name){
            <app-game-card [game]="game"
            (removeParent)="removeGame(game.name)">
                <app-button [height]="50" (clicked)="navigateToGameEditor(game.name)">Modifier</app-button>
                <app-button [height]="50" (clicked)="changeVisibility(game.name)">{{ game.isVisible ? 'Cacher' : 'Afficher' }}</app-button>
                <app-button [height]="50" (clicked)="removeGame(game.name)">Supprimer</app-button>
            </app-game-card>
        }
    </div>

    <app-button [width]="200" class="add-button" [route]="'./create'">
        Créer
    </app-button>
</body>
</html>
