$text-color: white;
$green-button: #78BC75;
$rose-button: #95698D;
$frame-color: #242153;
$transparent-background: rgba(0, 0, 0, 0.41);

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
}


.list-container {
    scrollbar-width: auto;
    scrollbar-color: $frame-color $transparent-background;
}