@use 'src/styles.scss' as *;

.container {
    background-image: url('../../../assets/background.png');
    background-position: center bottom;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 2rem;
    text-align: center;
    box-sizing: border-box;
}

.game-header {
    margin-bottom: 3rem;

    .game-logo {
        width: 18.75rem;
        height: 18.75rem;
        object-fit: contain;
        margin-bottom: 1rem;
    }

    .game-title {
        font-size: 2.5rem;
        color: $text-color;
        margin: 0;
    }
}

.menu-options {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.team-info {
    margin-top: 3.75rem;
    border-top: 1px solid #eee;

    h3 {
        margin-bottom: 0.5rem;
        color: $text-color;
    }

    p {
        color: $text-color;
        margin-bottom: 3.125rem;
    }
}
