<div class="container">
    <header class="game-header">
        <img src="assets/GrimStoneLogo.png" alt="Logo du jeu" class="game-logo" />
        <h1 class="game-title">{{ gameTitle }}</h1>
    </header>

    <nav class="menu-options">
        <app-button [route]="'/join'">
            Joindre une partie
        </app-button>

        <app-button [route]="'/create'">
            Créer une partie
        </app-button>


        <app-button [route]="'/admin'">
            Administrer les jeux
        </app-button>
    </nav>

    <footer class="team-info">
        <h3>Équipe {{ teamNumber }}</h3>
        <p>{{ teamMembers.join(', ') }}</p>
    </footer>
</div>