<div class="container page-background">
    <nav class="menu-options">
        <app-button [variant]="buttonVariant.Menu" [route]="'/join'">
            Joindre une partie
        </app-button>

        <app-button [variant]="buttonVariant.Menu" [route]="'/create'">
            Créer une partie
        </app-button>

        <app-button [variant]="buttonVariant.Menu" [route]="'/admin'">
            Administrer les jeux
        </app-button>
    </nav>
</div>

<footer class="team-info">
    <h3>Équipe {{ teamNumber }}</h3>
    <p>{{ teamMembers.join(', ') }}</p>
</footer>