

<li><div class="game-card">
    <div class="image-frame">
        <img class="thumbnail" src="../../../assets/filler.png" alt="reddit">
    </div>
    <div class="card-info">
        <ul>
            <li>Nom</li>
            <li>Taille</li>
            <li>Mode de jeu</li>
            <li>Date de Modification</li>
        </ul>
        <div class="card-buttons">
            <app-button [height]="50">Modifier</app-button>
            <app-button [height]="50">Cacher</app-button>
            <app-button [height]="50">Supprimer</app-button>
        </div>
    </div>
</div></li>