<div class="gameCard" 
  [ngClass]="{hidden: !game.isVisible}">
  <div class="image-frame">
    <img
      class="thumbnail"
      [src]="game.thumbnail"
      [alt]="game.name"
      (mouseenter)="show = true"
      (mouseleave)="show = false"
    />

    @if (show) {
      <div class="tooltip">
        {{ game.description }}
      </div>
    }
  </div>

  <div class="card-info">
    <ul>
      <li>{{ game.name }}</li>
      <li>{{ game.size.rows }}X{{ game.size.cols }}</li>
      <li>{{ game.gameMode }}</li>
      <li>{{ game.updatedAt }}</li>
    </ul>

    <div class="card-buttons">
      <ng-content></ng-content>
    </div>
  </div>
</div>
