<div class="gameCard" 
  [ngClass]="{hidden: !game.isVisible}">
  <div class="image-frame">
    <img
      class="thumbnail"
      [src]="game.thumbnail"
      [alt]="game.name"
      (mouseenter)="show = true"
      (mouseleave)="show = false"
    />

    @if (show) {
      <div class="tooltip">
        {{ game.description }}
      </div>
    }
  </div>

  <div class="card-info">
    <ul>
      <li>Nom du jeu : <span>{{ game.name }}</span></li>
      <li>Taille du jeu : <span>{{ game.size.rows }}X{{ game.size.cols }}</span></li>
      <li>Mode de jeu : <span>{{ game.gameMode == gameMode.Classic ? 'Classique' : 'CTF'}}</span></li>
      <li>Date de création : <span>{{ displayTime() }}</span></li>
    </ul>

    <div class="card-buttons">
      <ng-content></ng-content>
    </div>
  </div>
</div>
