<button 
    [ngStyle]="{
        'background-image': backgroundImage,
        'color': backgroundImage,
        'background-color': backgroundImage,
        'width': width + 'px',
        'height': height + 'px',
    }"
    [routerLink]="route"
    [disabled]="disabled"
    [ngClass]="[
        'btn',
        'btn--' + variant,
        disabled ? 'disabled' : '',
        selected ? 'selected' : ''
    ]"
    (click)="onClick()"
    >
    @if (variant === 'back') {
        <img src="./assets/icons/back-arrow.svg" class="arrow" alt="back arrow"/>
    }
    <ng-content></ng-content>
</button>