@use 'src/styles.scss' as *;

body {
    background-image: url('../../../assets/background.png');
    background-size: cover;
    background-position: center bottom;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    box-sizing: border-box;
}

.list-container {
    background-color: $transparent-background;
    border-radius: 1.25rem;
    display: flex;
    flex-direction: column;
    padding: 0.9375rem;
    gap: 0.625rem;
    overflow-y: auto;
    overflow-x: hidden;
    height: auto;
    width: 37.5rem;
    justify-content: space-evenly;
    gap: 1.875rem;
}

body > app-button {
    position: absolute;
    top: 4.6875rem;
    left: 3.75rem;
}

.size-card {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.choice-card {
    display: flex;
    flex-direction: column;
}

.choice-card > div {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.small-adjust {
    transform: translateX(-0.1875rem);
}

#translate-left-button {
    transform: translateX(-1px);
}

#translate-left-1 {
    transform: translateX(-0.3125rem);
}

#translate-left-2 {
    transform: translateX(-0.5rem);
}

.gamemode-button {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.gamemode-choice {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.save-button-container {
    height: auto;
    display: flex;
    justify-content: center;
    border-top: solid rgb(255, 255, 255);
    app-button {
        margin-top: 1.5625rem;
    }
}

.selected {
    background-color: $green-button !important;
}

h1,
h2,
p {
    color: white;
}
