/* Loader inspired by https://uiverse.io/fateself/tricky-crab-38 */

$red: rgba(138, 47, 51);
$red-glow-1: rgba(138, 47, 51);
$red-glow-2: rgba(138, 47, 51);
$red-glow-3: rgba(138, 47, 51);

.loader {
    position: relative;
    width: 60px;
    height: 60px;
    margin: 2rem 0;
    animation: fade-out 0.4s ease forwards;
    animation-play-state: paused;

    &.hiding {
        animation-play-state: running;
    }
}

@keyframes fade-out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.loader span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: rotate(calc(18deg * var(--i)));

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 7px;
        height: 7px;
        border-radius: 50%;
        background: $red;
        box-shadow:
            0 0 10px $red,
            0 0 20px $red,
            0 0 40px $red,
            0 0 60px $red-glow-1,
            0 0 80px $red-glow-2,
            0 0 100px $red-glow-3;
        animation: animate 2s linear infinite;
        animation-delay: calc(0.1s * var(--i));
    }
}

@keyframes animate {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    80%,
    100% {
        transform: scale(0);
        opacity: 0;
    }
}
