@use "src/const.scss" as *;


.list-container {
    background-color: $transparent-background;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 15px;
    gap: 10px;
    overflow-y: auto;
    overflow-x: hidden;
    height: 600px;
}