<main class="editor-bg" aria-label="Vue d'édition (Sprint 1)">
  <app-button-component class="pos-back" [text]="'Retour'" [variant]="'back'" (clicked)="onBack()"></app-button-component>

  <section class="editor-stage">
    <aside class="info-card">
      <div class="info-row">
        <span class="info-label">Nom:</span>
        <input class="info-input" [(ngModel)]="gameName" />
      </div>

      <div class="info-row info-row--top">
        <span class="info-label">Description:</span>
        <textarea class="info-textarea" rows="1" [(ngModel)]="gameDescription"></textarea>
      </div>
    </aside>


    <app-button-component class="pos-save" [text]="'Sauvegarder'" [variant]="'save'" (clicked)="onSave()"></app-button-component>
  </section>
</main>
