<main class="editor-bg" aria-label="Vue d'édition (Sprint 1)">
  <app-button class="pos-back"  [variant]="'back'" (clicked)="onBack()">Retour</app-button>

  <section class="editor-stage">
    <aside class="info-card">
      <div class="info-row">
        <span class="info-label">Nom:</span>
        <input class="info-input" [(ngModel)]="gameName" />
      </div>

      <div class="info-row info-row--top">
        <span class="info-label">Description:</span>
        <textarea class="info-textarea" rows="1" [(ngModel)]="gameDescription"></textarea>
      </div>
    </aside>

    <div class="map-frame" aria-label="Grille de carte">
      <div class="map-title">Mode classique</div>
      <div
        class="grid"
        [style.gridTemplateColumns]="'repeat(' + gridCols + ', 1fr)'"
        [style.gridTemplateRows]="'repeat(' + gridRows + ', 1fr)'"
      >
        @for (row of grid; track $index) {
          @for (cell of row; track $index) {
            <div class="cell" [attr.data-tile]="cell.type"></div>
          }
        }
      </div>
    </div>

    <app-button class=pos-reset [variant]="'default'" (clicked)="onReset()">Réinitialiser</app-button>
    <app-button class="pos-save"  [variant]="'default'" (clicked)="onSave()">Sauvegarder</app-button>
  </section>
</main>
